@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror[contenteditable="true"] img.ProseMirror-selectednode,
.ProseMirror[contenteditable="true"] figure.ProseMirror-selectednode {
  outline: 2px solid #2563eb;
  border-radius: 6px;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
}

.ProseMirror img[style*="text-align: center"] {
  margin-left: auto;
  margin-right: auto;
}

.ProseMirror img[style*="text-align: right"] {
  margin-left: auto;
  margin-right: 0;
}

.ProseMirror img[style*="text-align: left"] {
  margin-left: 0;
  margin-right: auto;
}

.ProseMirror img[style*="text-align: justify"] {
  margin-left: auto;
  margin-right: auto;
}
